html{
    margin: 0;
    padding: 0;
}
.full-image
{
    padding-bottom: 10px;
}
.product-button,.banner-content
{
    cursor: pointer;
}
.main_content_bg
{
    height: 100%;
    padding: 30px !important;
}
.gyeongsang_body
{
    min-height: 50vh;
    padding: 30px 15% 20px;
}
.gyeong_main
{
    width: 100%;
    min-height: calc(100vh - 150px);
}

.main_content_container
{
    background-color: white;
    padding: 20px;   
}
.product-container
{
    grid-template-columns: 100%;
    gap: 20px;
    display: grid;

}
.product-image
{
    filter: drop-shadow(2.5px 2.5px 2.5px #000);
    width: 400px;
    height: 300px;
}
.product-image-div
{
    padding-right: 10px;
    display: block;
    margin: auto;
}
.product-text
{
    width: 100%;
    position: relative;
    margin: auto;
    height: 100%;
}
.gyeongsang_body
{
    background-image: url("/img/bg.png");
}
.product
{
    background-blend-mode: multiply;
    display: grid;
    grid-template-columns: 1fr 2fr;
    border: 2px solid rgb(198, 199, 229);
    transition-property: border-color; /* 어떤 css 프로퍼티를 transition할지 지정 */
    transition-duration: 0.5s;
    padding: 10px;
    border-radius: 3px;
}
.product:hover   
{
    border-color: #fea116;
}
.product-title
{
    font-weight: bold;
    font-size: 1.4em;
    padding-bottom: 10px;
    color: #0F172B;
}
.product-content-title
{
    
    font: inherit;
    color: rgb(59, 117, 184);
    font-weight: bold;
    font-size: 1.2em;
    padding-bottom: 20px;
}
.product-content-main
{
    color: rgb(102, 102, 102);
    padding-bottom: 20px;
    font-size: 1em;
    min-height: 100px;

}
.product-infomation-text
{
    display: flex;
    -webkit-box-align: end;
    align-items: end;
    color: green;
    font-weight: bold;
    font-size: 0.9em;
    word-break: keep-all;
}
.product-infomation-container
{
    width: 100%;
    position: absolute; bottom:0px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.product-infomation-text
{
    display: flex;
    -webkit-box-align: end;
    align-items: end;
    color: green;
    font-weight: bold;
    font-size: 0.9em;
    word-break: keep-all;
}
.product-infomation-button-container
{
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
}
.product-button
{
    font-size: 100%;
    line-height: 1.15;
    margin: 0px;
    background-color: #0F172B;
    border: 0;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
}
.floBanPc1 {
    display: grid;
    position: fixed;
    top: 15%; /* 윗쪽 끝에서부터의 거리 */
    right: 5%;
    z-index: 0;
  }
  .banner
  {
    text-align: center;
    border: 2px solid #0F172B;
    border-radius: 10px;
  }
  .banner-content
  {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}
.text_center
{
    text-align: center;
    margin: auto;
}
.margin_center
{
    margin-left: auto;
    margin-right: auto;
}
