html{
    margin: 0;
    padding: 0;
}
.full-image
{
    padding-bottom: 10px;
}
.product-button,.banner-content
{
    cursor: pointer;
}
.main_content_bg
{
    height: 100%;
    padding: 30px !important;
}
.gyeongsang_body
{
    min-height: 50vh;
    padding: 30px 15% 20px;
}
.gyeong_main
{
    width: 100%;
    min-height: calc(100vh - 150px);
}

.main_content_container
{
    background-color: white;
    padding: 20px;   
}
.product-container
{
    grid-template-columns: 100%;
    gap: 20px;
    display: grid;

}
.product-image
{
    filter: drop-shadow(2.5px 2.5px 2.5px #000);
    width: 400px;
    height: 300px;
}
.product-image-div
{
    padding-right: 10px;
    display: block;
    margin: auto;
}
.product-text
{
    width: 100%;
    position: relative;
    margin: auto;
    height: 100%;
}
.gyeongsang_body
{
    background-image: url("/img/bg.png");
}
.product
{
    background-blend-mode: multiply;
    display: grid;
    grid-template-columns: 1fr 2fr;
    border: 2px solid rgb(198, 199, 229);
    transition-property: border-color;
    transition-duration: 0.5s;
    padding: 10px;
    border-radius: 3px;
}
.product:hover   
{
    border-color: #fea116;
}
.banner:hover   
{
    background-color: #ff9900;
    color: white;
    border-color: black;
}
.product-title
{
    font-weight: bold;
    font-size: 1.4em;
    padding-bottom: 10px;
    color: #0F172B;
}
.product-content-title
{
    
    font: inherit;
    color: rgb(59, 117, 184);
    font-weight: bold;
    font-size: 1.2em;
    padding-bottom: 20px;
}
.product-content-main
{
    color: rgb(102, 102, 102);
    padding-bottom: 20px;
    font-size: 1em;
    min-height: 100px;

}
.product-infomation-text
{
    display: flex;
    -webkit-box-align: end;
    align-items: end;
    color: green;
    font-weight: bold;
    font-size: 0.9em;
    word-break: keep-all;
}
.product-infomation-container
{
    width: 100%;
    position: absolute; bottom:0px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.product-infomation-text
{
    display: flex;
    -webkit-box-align: end;
    align-items: end;
    color: green;
    font-weight: bold;
    font-size: 0.9em;
    word-break: keep-all;
}
.product-infomation-button-container
{
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
}
.product-button
{
    font-size: 100%;
    line-height: 1.15;
    margin: 0px;
    background-color: #0F172B;
    border: 0;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
}
  .banner
  {

    cursor: pointer;
    text-align: center;
    padding: 4%;
    border: 1px solid rgb(224, 224, 224);
    width: 100%; 
    height: 5%;
    background-color: white;
    color: black;
    transition-property: background-color,color,border-color;
    transition-duration: 0.5s;
  }

  .btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}
.text_center
{
    text-align: center;
    margin: auto;
}
.margin_center
{
    margin-left: auto;
    margin-right: auto;
}
.notice-ul
{
    width: 50%;
    list-style-type: none;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(255, 255, 255);
    
    margin-bottom: 0;
    margin-top: 0;
}
li{
    flex: 1 1 0%;
    text-align: center;
    line-height: normal;
    line-height: 200%;
}
li:nth-child(2) { 
    flex: 3 1 0%;
  }
.border-white
{
    border: 1px solid white;
}
.border-black
{
    border: 1px solid black;
}
.active
{
    animation-name: SlideAndShow;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    background-color: white;
}
.notice-content
{
    text-align: center;
    width: 100%;
    cursor: pointer;
}
.question-button
{
    width: 2.5%;
    height:100%;
    text-align: center;
    margin-top: 30px;
    font-size: 1.5em;
     margin-right: 0px;
     margin-left: 12%;
     cursor: pointer;
}
.question-title
{
    width: 80%;
    margin-top: 30px;
    font-size: 1.5em;
    margin-left: 10px;
}
.question-content
{
    width: 80%;
    margin-top: 0;
    font-size: 1.5em;
    margin-left: 10px; 
    opacity: 0; 
    height: 0;
    margin-bottom: 0;
    margin-top: 0;
}
.unactive
{
    animation-name: SlideAndHide;
    animation-duration: 0.5s;
}
.text-plus::before
{
    content: "+";
}
.text-negative::before
{
    content: "-";
}
@keyframes SlideAndHide
{
    from {
        height: 100%;
        margin-bottom: 15px;
        line-height: 1.5;
        opacity: 1;
      }
    
      to {
        opacity: 0;
        line-height: 0;
        margin-bottom: 0;
      }
}
@keyframes SlideAndShow
{
    from {
        height: 0;
        margin-bottom: 0;
        line-height: 0;
      }
    
      to {
        opacity: 1;
        height: 100%;
        line-height: 1.5;
        margin-bottom: 15px;
      }
}
.tbold
{
    font-weight: bold;
}
.course-container
{
    margin-bottom: 2.5%;
    border: 1px solid black;
    width: 100%;

    box-shadow: none;
    display: flex; max-height: 25%;
    overflow: hidden;
    border-radius: 5px;
    transition-property: border-color box-shadow;
    transition-duration: 0.3s;
}
.course-container:hover
{
    border-color: white;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.19), 6px 6px 6px rgba(0,0,0,0.23);
}
.course-container:hover .course-img
{
    scale: 1.1;
}
.course-img-container
{
    width: 30%;
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    overflow: hidden;
}
.course-img
{
    cursor: pointer;
    scale: 1;
    top:0px;
    left: 0px;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition-property: scale;
    transition-duration: 0.5s;
}
.course-img:hover
{
    
}
.course-text-container
{
    width: 70%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 3%;
    display: flex;
    flex-direction: column;
}
.course-text-calendar
{
    cursor: pointer;
    border-radius:4px;
    text-align:center;
    width: 15%;
    margin-left: auto;
    margin-right: 1%;
    line-height: 1.5;
    transition-property: background-color;
    background-color: black;
    transition-duration: 0.5s;
}
.course-text-calendar:hover
{
    background-color: #fea116;
}
.course-text-content-div
{
    width: 100%;
    height: 50%; 
    margin-top: 1%;
    display: flex;
}
.course-text-content-box
{
    background-color: rgb(242, 242, 242);
    border-radius: 4px;
    width: 12%;
    text-align: center;
}
.course-text-price-container
{
    width: 100%;
    height: 100%; 
    margin-top: 2%;
    display: flex;
    border-top: 1px solid rgb(224, 224, 224);
    margin-right: 10%;
}
.course-text-price
{
    margin-left: auto;
    margin-top:1%;
    font-size:1.2em;
}